<div class="container">
    <div id="texto" #textos>
        <p appResaltado>
            Ejemplo de ViewChild, 
            cada bloque o etiqueta lo entiende como una vista.
            para seleccionar elementos del DOM, podemos usar el ViewChild (#textos),
            tambien lo podriamos hacer con javascript o con jQuery,
            ademas a  este parrafo le agragamos una directiva creada por nosotros llamada appResaltado
            que permite cambierle el color background rojo que vemos 
        </p>
    </div>
    <h1>Contacto</h1>
    <input type="number" (keydown.enter)="changeWidth($event)" />
    <select style="margin-left: 10px;" [(ngModel)]="caption">
        <option value="false">false</option>
        <option value="true">true</option>
    </select>

    <button style="margin-left: 10px;" (click)="resetComponent()">Reset</button>
    <br />
    <app-slider *ngIf="widthSlider" 
    [anchura]="widthSlider" 
    [etiqueta]="caption"
    (setAutor) = "setAutor($event)"
    ></app-slider>

    <h3>{{autor.nombre}}</h3>
    <h3>{{autor.email}}</h3>
    <h3>{{autor.edad}}</h3>

</div>