<mat-spinner style="margin: 0 auto;" *ngIf="isLoading" ></mat-spinner>
<div class="container" *ngIf="!isLoading">
    
    <div class="image">
        <img width="100%" src="{{url + project.image}}" *ngIf="project.image" />
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h3>{{project.descripcion}}</h3>
        <p>{{project.category}}</p>
        <p>{{project.langs}}</p>
        <p *ngIf="!confirm && project.image">
            <a [routerLink]="['/create',project._id]" class="button-edit">Editar</a>
            <a class="button-delete" (click)="setConfirm(true)" >Borrar</a>
        </p>

        <p *ngIf="confirm">
            <span class="confirmar">¿Esta seguro de Eliminar este proyecto?</span>
            <a (click)="setConfirm(false)"  class="button-edit">Cancelar</a>
            <a class="button-delete" (click)="deleteProjectById(project._id)">Si</a>
        </p>
    </div>
    
</div>
