<span>ancho {{anchura}}, caption {{etiqueta}}</span>
<div class="bxslider">
    <div><img src="assets/img/coffee1.jpg"></div>
    <div><img src="assets/img/coffee2.jpg"></div>
    <div><img src="assets/img/coffee3.jpg"></div>
</div>

<button (click)="lanzar($event)">Conseguir Autor</button>