<mat-spinner style="margin: 0 auto;" *ngIf="isLoading" ></mat-spinner>
<div class="container" *ngIf="project && !isLoading">
    <h2>{{title}}</h2>
    <!-- <div class="message success" *ngIf="status =='OK'">
        El Proyecto se ha creado correctamente ,<a [routerLink]="['/project',projecSaved._id]">Ver Aqui</a>
    </div> -->
    <alert type="success" *ngIf="status =='OK'">
        El Proyecto se ha creado correctamente ,<a [routerLink]="['/project',projecSaved._id]">Ver Aqui</a>
    </alert>
    <div class="message failed" *ngIf="status =='NOK'">
        El Proyecto No se ha podido crear
    </div>

    <form #formProject="ngForm" (ngSubmit)="onSubmit(formProject)">

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #name="ngModel" [(ngModel)]="project.name" required pattern="[a-zA-Z ]+" />
        <span *ngIf="name.touched && !name.valid">
            Nombre invalido
        </span>

        <label for="descripcion">Descripción</label>
        <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="project.descripcion" required
            pattern="[a-zA-Z ]+"></textarea>

        <span *ngIf="descripcion.touched && !descripcion.valid">
            descripcion invalida
        </span>


        <label for="category">Categoria</label>
        <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required
            pattern="[a-zA-Z ]+" />
        <span *ngIf="category.touched && !category.valid">
            categoria invalida
        </span>


        <label for="year">Año</label>
        <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" required pattern="^[0-9]+" />
        <span *ngIf="year.touched && !year.valid">
            año invalido
        </span>


        <label for="langs">Lenguaje</label>
        <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required pattern="[a-zA-Z ]+" />
        <span *ngIf="langs.touched && !langs.valid">
            Lenguaje invalida
        </span>


        <label>Imagen del proyecto</label>
        <div class="image" *ngIf="project.image">
            <img width="300px; " src="{{url + project.image}}" *ngIf="project.image" />
        </div>
        <input type="file" name="image"  (change)="fileChange($event)" />


        <input type="submit" value="Enviar" [disabled]="!formProject.form.valid" />
    </form>
</div>