/* importar fuentes customizadas */
@font-face {
    font-family: "Sriracha";
    src        : "/font/sriracha.ttf";
}

/* Generales */
* {
    margin : 0px;
    padding: 0px;
}

body {
    font-family          : "Sriracha";
    font-size            : 20px;
    background           : #ccc;
    background-attachment: fixed;
}

.clearfix {
    float: none;
    clear: both;
}

/* Barra de navedacion */
header {
    width         : 100%;
    height        : 90px;
    background    : rgba(53, 103, 164, 0.8);
    position      : fixed;
    text-transform: uppercase;
}

header ul {
    display   : block;
    width     : 50%;
    height    : inherit;
    margin    : 0px auto;
    margin-top: -3px;
}

header ul li {
    display    : inline-block;
    margin     : 0px auto;
    text-align : center;
    line-height: 90px;

}

header a {
    display        : block;
    padding-right  : 20px;
    padding-left   : 20px;
    height         : inherit;
    /*heredado */
    text-decoration: none;
    color          : white;
    transition     : all 300ms;
}

header a:hover,
.active {
    background: rgba(0, 0, 0, 0.8);
}

#logo {
    font-family: 'Times New Roman', Times, serif;
    font-size  : 30px;
}

#logo a {
    transition: color 500ms, transform 500ms;
}

header #logo a:hover {
    background: transparent;
    color     : black;
    transform : scale(1.50, 1.50);

}

/* contenedor principal */
#content {
    min-height  : 800px;
    width       : 75%;
    margin      : 0px auto;
    box-shadow  : 0px 0px 40px black;
    border-left : 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background  : rgba(255, 255, 255, 0.7);
    padding-top : 120px;


}

footer {
    width      : 75%;
    margin     : 0px auto;
    padding-top: 15px;
    color      : rgba(0, 0, 0, 0.5);
}


/* sobre mi */

#title {
    width        : 70%;
    margin       : 0px auto;
    text-align   : center;
    margin-top   : 20px;
    margin-bottom: 60px;

}

#title h1 {
    font-family   : "Sriracha";
    font-size     : 60px;
    border-bottom : 1px solid #ccc;
    padding-bottom: 5px;
}

#title h2 {
    font-size    : 25px;
    color        : gray;
    margin-top   : 50px;
    margin-bottom: 5px;

}

article.about {
    width        : 70%;
    margin       : 0px auto;
    margin-bottom: 20px;
    font-size    : 23px;

}

.about h2 {
    border-bottom : 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom : 5px;

}

.about p {
    padding-top   : 20px;
    padding-bottom: 30px;
    text-align    : justify;

}


/* Formularios */
.container {
    padding    : 50px;
    padding-top: 20px;
}

.container h2 {
    display       : block;
    border-bottom : 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom : 10px;

}
.container .image{
    float: left;
    width: 49%;
}
.container .data{
    float: left;
    width: 49%;
    margin-left: 20px;

}
form {
    width: 500px;
}

form label {
    display      : block;
    width        : 100%;
    margin-top   : 10px;
    margin-bottom: 5px;
}

form input,
textarea {
    width  : 60%;
    padding: 5px;
}

form input[type="submit"], 
.button-edit ,
.button-delete
{
    display   : block;
    font-size : 17px;
    padding   : 5px;
    margin-top: 15px;
    color     : white;
    background: rgba(53, 103, 164, 1);
    border    : 1px solid rgba(13, 67, 133, 1);
    width     : 100px;
    cursor    : pointer;
}
.button-edit ,
.button-delete{
    float: left;
    margin-left: 10px;
    text-decoration: none;
}
.button-edit{
    background: orange;
    border: 1px solid black;
}
.button-delete{
    background: red;
    border: 1px solid black;
}

form input[type="submit"]:hover {
    background: rgba(53, 103, 164, 0.6);
    border    : 1px solid rgba(13, 67, 133, 1);
}

form input[disabled] {
    opacity: 0.4;
    cursor : not-allowed;
}

form span {
    padding    : 3px;
    background : red;
    color      : white;
    font-size  : 13px;
    margin-left: 5px;
}

/* mensajes */
.message {
    width  : 50%;
    padding: 5px;
    border : 1px solid #eee;

}

.success {
    background: green;
    color     : white;
}

.message a {
    color: white;
}

.failed {
    background: red;
    color     : white;
}

/* Pagina de Proyectos */
.project {
    list-style: none;
    display: block;
    float: left;
    width: 30%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;


}
.project .image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.project img{
width: 100%;
}

.project a{
    text-decoration: none;
    color: black;
}

.confirmar{
    display: block;
    margin-top: 30px;
    font-weight: bold;
}