<mat-spinner style="margin: 0 auto;" *ngIf="isLoading" ></mat-spinner>
<div class="container" *ngIf="!isLoading">
    <h2>Proyectos</h2>

    <ul>
        <li *ngFor="let p of projects" class="project">
            <a [routerLink]="['/project',p._id]">
                <div class="image">
                    <img src="{{url + p.image}}" *ngIf="p.image" />
                </div>
                <h3>{{p.name}}</h3>
                <p>{{p.category}}</p>
            </a>


        </li>
    </ul>
</div>