<header>
  <ul>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['active']" >Sobre Mi</a></li>
    <li><a [routerLink]="['/projects']" [routerLinkActive]="['active']" >Poryectos</a></li>
    <li id="logo"><a href="#">CM</a></li>
    <li><a [routerLink]="['/create']" [routerLinkActive]="['active']" >Crear / Editar Proyecto</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['active']" >Contacto</a></li>
  </ul>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
Master en javaScript de Cristian Muñoz &copy;
</footer>